@import 'src/style/common';

.item {
   margin-bottom: 10px;

   a {
      color: $main-text-color;
      text-decoration: none;
      font-weight: bold;
   }
   .active {
      color:  $main-color-darken
   }
}