@import 'src/style/common';

.formControl {

   .textarea {
      resize: none;
      outline: none;
      border: none;
      box-shadow: $shadow;
      padding: 10px;
      width: 100%;
      height: 200px
   }

   .input {
      @include Input;
   }

   &.error {
      input, textarea {
         border: 2px solid brown;
      }

      span {
         color: brown;
      }
   }
}

.formError {
   border: 2px solid brown;
   padding: 5px;
   color: brown;
   width: 200px;
}
