.header {
   grid-area: header;
   background-color: darkslategrey;

   img {
      width: 50px;
   }

   .loginBlock {
      float: right;
      color: aliceblue;

      a {
         color: aliceblue;
      }
   }
}