.nav {
  grid-area: nav;
  background-color: darkred;
  padding: 15px;
  min-height: 100vh;
}

.item {
  margin-bottom: 10px;

  a {
    color: white;
    text-decoration: none;
  }
  .active {
    color: gold;
  }
}

