@import 'src/style/common';

.profile {
   display: flex;
   justify-content: space-between;
   gap: 20px;

   .main, .info {
      @include Block;
      display: flex;
      flex-direction: column;
      gap: 15px;
   }

   .main {
      width: min(330px, 27%);

      img {
         border-radius: 6px;
      }
   }

   .info {
      width: 100%;

      .status {
         cursor: pointer;
         height: 25px;
         line-height: 25px;

         input {
            @include Input;
            box-shadow: $shadow;
            width: 100%;
         }

         &:hover {
            background-color: darken($contrast-color, 3%);
         }
      }

      .profileData {
         display: flex;
         flex-direction: column;
         gap: 25px;

         & > * {
            display: flex;
            flex-direction: column;
            gap: 10px;
         }

         input {
            @include Input;
            box-shadow: $shadow;
         }

         textarea {
            height: 200px;
            margin-top: 10px;
         }

         .editButton {
            @include Button;
            width: 150px;
            display: flex;
            justify-content: center;
            align-items: center;
         }
      }
   }
}