@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;800&display=swap');
@import 'src/style/common';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: #444;
}

body {
    background-color: whitesmoke;
    font-family: 'Montserrat', sans-serif;
}

a {
    text-decoration: none;
    color: $main-color;
}

a:hover {
    text-decoration: underline;
    color: $main-color-darken
}

hr {
    height: 1px;
    background-color: $main-text-color;
    border: none;
}